.wrapper {
    width: 100%;
    height: 100%;
}

.svg {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

.bucket {
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
    * {
        transition: all 0.5s;
    }
    text {
        fill: white;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        paint-order: stroke;
        stroke-width: 5px;
    }
    text.value {
        font-size: 22px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.flow {
    opacity: 0.7;
    transition: all 0.5s;
    * {
        transition: all 0.5s;
    }
    text {
        fill: white;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        paint-order: stroke;
        stroke-width: 5px;
    }
}

.drop {
    path {
        stroke: #ff5630;
    }
    .solid {
        fill: #ff5630;
    }
    text {
        fill: white;
        font-size: 12px;
    }
}

.step {
    text {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        fill: #172b4d;
    }
}

.gradient-drop {
    .gradient-start {
        stop-color: #ff5630;
    }
    .gradient-stop {
        stop-color: #ff5630;
        stop-opacity: 0;
    }
}

.palette {
    background: #ff5630;
    background: #ffab00;
    background: #36b37e;
    background: #00b8d9;
    background: #6554c0;
    background: #172b4d;
    background: #0052cc;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding: 16px;
    box-sizing: content-box;
    max-height: 448px;
    max-width: 448px;
    min-width: 120px;
    z-index: 200;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    border-radius: 3px;
    margin: 10px;
    overflow: scroll;
    color: #172b4d;
    font-size: 14px;

    h4 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-top: 0;
    }

    p {
        margin: 0 0 5px 0;
    }

    a {
        color: #172b4d;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.label {
    background: #dfe1e6;
    border: 1px solid #dfe1e6;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 99%;
    margin: 0;
    padding: 3px 5px 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
